.post-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #777;
}

.menu-icon {
    cursor: pointer;
    padding: 3px;
}

.menu-icon:hover{
    background-color: #f1f3f5;
    border-radius: 20%;
}

.post-description {
    font-size: 14px;
    color: #333;
    margin-top: 5px;
}

.post-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.post-hashtags {
    font-size: 12px;
    color: #0066cc;
}
