.posts-container {
    padding: 20px;
    padding-right: 30px;
    padding-bottom: 0px;
    background: #f9f9f9;
    width: 100%;
}

.posts-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.posts-title{
font-size: 2em;
font-weight: bold;
margin-bottom: 5px;}

.posts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* Modal Styling */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

@media (max-width: 450px) {
    .search-bar{
        width: 130px;
    }
}


@media (min-width: 451px) and (max-width: 670px) {
    .search-bar{
        width: 200px;
    }
}

/* Medium Screens: Icons with Text Underneath */
@media (min-width: 671px) and (max-width: 1024px) {
    .posts-container{
        margin-left: 130px;
    }
    .search-bar{
        width: 300px;
    }
}

/* Large Screens: Permanent Sidebar */
@media (min-width: 1025px) {
    .posts-container{
        margin-left: 240px;
    }
    .search-bar{
        width: 300px;
    }
}
